.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.messages {
    display:grid;
    border-left: 3px solid black;
    padding: 15px;
    justify-content: right;
}
.textarea {
    text-align: right;
    padding-top: 15px;
}

.form{
    display: flex;
    justify-content: right;
}