.container {
    display: grid;
    justify-content: left;
    margin: 20px 0px 0px 50px;
}

label {
    font-weight: bold;
    display: flex;
    margin-bottom: 5px;
    padding: 2px;
}

input + label {
    font-weight: bold;
    margin-right: 20px;
}

input[type='text'],
input[type='email'],
input[type='password'],
textarea,
select {
    display: block;
    width: 400px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    /* margin-bottom: 20px; */
}

.field {
    margin-bottom: 20px;
}

.error {
    color: red;
}

.form-list {
    display: inline-grid;
    margin-right: 40px;
}

.rememberMe{
    display: flex;
    margin-bottom: 20px;
}

.serverError{
    color: rgb(36, 41, 46);
    border: black solid 0.5px;
    border-radius: 10px;
    padding: 10px;
    background: rgb(36, 41, 46, 0.4);

}